@charset "UTF-8";

/* 메인, 게시판 css */

body {
    font-family: Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.user-intro {
    white-space:pre-line;
    font-size: 1.15rem;
    font-weight: 400;
}

button.project-open-btn {
    display: inline;
    vertical-align: top;
    margin-left: 15px;
}

.tr-content {
    height : 220px;
}
.tr-content td {
    padding-top: 30px;
}

span.userinfo-icon {
    display: inline-block;
    width: 30px;
}

.info-wrap {
    display: flex;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    border-bottom: 1px solid lightgray;
    height : 50px;
    background-color: rgba(0,0,0,.03);
}

.title-wrap {
    display: flex;
    padding: 50px 20px 20px 0px;
    /*border-bottom: 1px solid lightgray;*/
    font-size : 30px;
    color : brown;
}

.content-wrap {
    display: flex;
    padding: 50px 20px 20px 0px;
    height: 220px;
}

.edit-wrap {
    text-align: right;
}

/* 댓글 css */

span.comment-main {
    display : inline-block;
    margin-top : 15px;
    margin-bottom: 15px;
}

.cmt-one {
    padding: 10px 15px;
}

.cmt-space {
    margin-top: 30px;
}

.cmt-head {
    padding: 15px 10px 5px;
}

.cmt-body {
    padding-left : 5px;
}

ul.cmt-list {
    all : unset;
}
li.cmt-row {
    all : unset;
    list-style:none;
}


span.board-comment {
    color:#f94b4b;
    font-weight: bold;
    margin-left: 3px;
}

a.del-comment {
    color : unset;
    margin-left: 5px;
}

